<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/app.css">
    <title><%= Title%></title>
</head>
<body>
    <div class="contaner">
        <div class="into"><b>Press F-5 For New POKEMON</b></div>
        <div class="cart">
            <div class="Number"><span><%= ImgNumber%></span></div>
            <div class="IMG">
                <img src="https://pokeres.bastionbot.org/images/pokemon/<%= ImgNumber%>.png">
            </div>
            <div class="Name"><span><%= Name%></span></div>
            <div class="Type"><span>Type : <%= Type%></span></div>
        </div>
    </div>
</body>
</html>